<div class="col-md-4">
  <h2>List of Products</h2>
  <div class="panel-group" id="accordion">
    <div *ngFor="let category of categorylist" class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{category.id}}" class="cat_item">
            {{ category.label}}</a>
        </h4>
      </div>
      <div id="collapse{{category.id}}" class="panel-collapse collapse">
        <ul class="panel-body">
          <li *ngFor="let prod of category.productList; let i = index;" (click)="navigateToProduct(i,category.id)" class="product_item">
            {{ prod.purchase }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="col-md-8">
  <router-outlet></router-outlet>
</div>


