<!--<div class="col-md-12">-->
  <!--<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">-->
    <!--<p class="pull-right">-->
      <!--basket-->
    <!--</p>-->
  <!--</button>-->
  <!--<span>{{ dataService.productCount }} </span>-->
<!--</div>-->
<router-outlet></router-outlet>

<!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--<div id="myModal" class="modal fade" role="dialog">-->
  <!--<div class="modal-dialog">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal" routerLink = '/'>&times;</button>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
        <!--<ul>-->
          <!--<li *ngFor="let product of prodList">-->
            <!--{{product.purchase}} - -->
            <!--{{product.price}}-->
            <!--<span (click)="removeFromBasket(product)">&times;</span>-->
          <!--</li>-->
        <!--</ul>-->

      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
