<div class="col-md-12 text-right">
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
    <p class="pull-right">
      basket
    </p>
  </button>
  <span class="badge">{{ dataService.productCount }} </span>
</div>


<p>
  product details
  {{details.purchase}}
</p>
Count <input type="number" [(ngModel)]="count"/>
<input type="button" value="Add to bucket" (click)='addToBasket(details.purchase,details.price,count)'>


<router-outlet></router-outlet>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" >&times;</button>
      </div>
      <div class="modal-body">
        <ul>
          <li *ngFor="let product of prodList">
            {{product.purchase}} -
            {{product.price}}
            <span (click)="removeFromBasket(product)">&times;</span>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
