/* You can add global styles to this file, and also import other style files */
.cat_item {
  display: block;
  width: 100%;
  height: 100%;
}

.cat_item:hover, .cat_item:focus {
  text-decoration: none;
  color: #267775
}

.product_item {
  list-style-type: none;
  padding-left: 30px;
}
